doctype htm 
html 
    head 
        title contact us
        link(rel="stylesheet", href="./Styles.css")
    body
        include ./Navs.pug
        div#contact.border
            h1 contact us
            p
                | 
                strong  Email: 
                |Parapharma@gmail.com
            p
                | 
                strong  Phone: 
                |75111111
            p
                | 
                strong  adresse: 
                |Rue de la Liberté, Tunis, Tunisie     