doctype html
html
    head
        title Home
        link(rel="stylesheet", href="./Styles.css") 
    body
        include ./Navs.pug
        div#section1.border
                    div
                        h1 Notre parapharmacie en ligne
                        p Le meilleur site de vente de produits parapharmaceutique en Tunisie avec livraison gratuite en relais sur tout le territoire et toutes les régions de la Tunisie. Nous commercialisons des milliers de références et de larges gammes de produits de grandes marques telles que SVR, Vichy, Avène , La RochePosay, Mustela, Filorga, Sesderma, Arvea Tunisie etc. Que vous ayez besoin d'un anti-rides, d'un sérum vitamine c, d'une crème hydratante, d'un gel nettoyant visage, d'un draineur, d'un écran solaire teinté, d'un shampooing anti-chute ou anti-pelliculaire sans sulfate ou encore d'une solution contre vos douleurs aux articulations, vous trouverez votre bonheur sur votre parapharmacie.