div#title
        h1 Parapharmacie
        nav#navs
                a.navsItems(href="/") Home
                a.navsItems(href="/our_services") Our services
                a.navsItems(href="/contact") Contact us