doctype htm 
html 
    head 
        title Oups
    body
        div(align="center",style= "margin-top : 20%; color:red")
            h1 désolé, ce site n'est valable que durant les heures de travail (Lundi à Vendredi,  de 9h à 17h)