doctype htm 
html 
    head 
        title Our services
        link(rel="stylesheet", href="./Styles.css")
    body
        include ./Navs.pug
        div.cardGroup 
                div.card.border
                        h2 PROTECTION SOLAIRE VISAGE
                        p  Protégez votre peau contre les dangers des rayons UV
                div.card.border
                        h2 SOINS POUR HOMME
                        p Nous proposons une large gamme de produits pour homme qui répondent à presque tous les besoins et préoccupations
                div.card.border
                        h2 Baby & Mom 
                        p  Doté d'une large gamme de produits essentiels pour le bien-être des mamans et de leurs enfants.
                div.card.border
                        